main{
    display: flex;
    justify-content: space-between;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
    .container{
    font-family: Roboto;
    max-width: 1000px;
    margin: 0 auto;
    }

.forgot input{
    margin-bottom: 20px;
    width: 400%;
    height: 30px;
}